.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.boarder{
position: absolute;
    top: 10%; left: 4em;
    width:990px;
    height: 490px;
    background: rgba(188, 125, 230, 0.288);
    background-size: cover;
    z-index: 1;
}