.section{
    width:100%;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.section h1{
    
    position: absolute;
    top: 10%; right: 4em;
    font-size: 4rem;
    background: rgb(247, 175, 247,.80);
    padding: 20px;
    margin: 15px;
    z-index: 1;
    

}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.topleftbox{
    position: absolute;
    top: 10%; left: 10em;
    width: 256px;
    height: 256px;
    background-image: url(../resources/farmers-breakfast.png);
    background-size: cover;
    z-index: 1;
    
}
.topleftbox:hover {
    background-image: url(../resources/square_farmers_breakfast-4.jpg);
    transform: scale(1.06);
}

.toprightbox{
    position: absolute;
    top: 10%; left: 40em;
    width: 256px;
    height: 256px;
    background-image: url(../resources/princess-pudding.png);
    background-size: cover;
    z-index: 1;   
}

.toprightbox:hover {
    background-image: url(../resources/Princess_Pudding_ffxiv_2.jpg);
    transform: scale(1.06);
    
}
.bottomleftbox{
    position: absolute;
    top: 40%; left: 10em;
    width: 256px;
    height: 256px;
    background-image: url(../resources/Skybuilders-stew.png);
    background-size: cover;
    z-index: 1;

}

.bottomleftbox:hover {
    background-image: url(../resources/LRM_20191119_124821.jpg);
    transform: scale(1.06);
    

}
.bottomrightbox{
    position: absolute;
    top: 40%; left: 40em;
    width: 256px;
    height: 256px;
    background-image: url(../resources/starlight-log.png);
    background-size: cover;
    z-index: 1;

}

.bottomrightbox:hover {
    background-image: url(../resources/Starlight_log_FFXIV_2.jpg);
    transform: scale(1.06);

}

.specialthanks{
    position: absolute;
    font-family: eorzea;
    top: 80%; left: 3em;
    width: 1000px;
    height: 64px;
    font-size: 2rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
}

span{
    
}








@font-face {
    font-family: eorzea;
    src: url(../resources/eorzea.ttf);
}