body{

    width:1920px;
    height:1080px;
}

.section{
    width:100%;
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.section h1{
    
    position: absolute;
    font-family: jupiter;
    font-weight: 100;
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    top: 6%; right: 0px;
    font-size: 4rem;
    background-image: url(../resources/41.png);
    background-size: cover;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    

}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.topleftbox{
    position: absolute;
    top: 10%; left: 10em;
    width: 256px;
    height: 256px;
    background-image: url(../resources/farmers-breakfast.png);
    background-size: cover;
    z-index: 1;
    
}
.topleftbox:hover {
    background-image: url(../resources/square_farmers_breakfast-4.jpg);
    transform: scale(1.06);
}

.toprightbox{
    position: absolute;
    top: 10%; left: 40em;
    width: 256px;
    height: 256px;
    background-image: url(../resources/princess-pudding.png);
    background-size: cover;
    z-index: 1;   
}

.toprightbox:hover {
    background-image: url(../resources/Princess_Pudding_ffxiv_2.jpg);
    transform: scale(1.06);
    
}
.bottomleftbox{
    position: absolute;
    top: 40%; left: 10em;
    width: 256px;
    height: 256px;
    background-image: url(../resources/Skybuilders-stew.png);
    background-size: cover;
    z-index: 1;

}

.bottomleftbox:hover {
    background-image: url(../resources/LRM_20191119_124821.jpg);
    transform: scale(1.06);
    

}
.bottomrightbox{
    position: absolute;
    top: 40%; left: 40em;
    width: 256px;
    height: 256px;
    background-image: url(../resources/starlight-log.png);
    background-size: cover;
    z-index: 1;

}

.bottomrightbox:hover {
    background-image: url(../resources/Starlight_log_FFXIV_2.jpg);
    transform: scale(1.06);

}

.specialthanks{
    position: absolute;
    font-size: 35px;
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    top: 690px; left: 4.5rem;
    width: 980px;
    height: 200px;
    
    z-index: 1;
}
.specialthanks a:visited{
    color: yellow;
}
.audio{
    position:absolute;
    top: 1000px;
    left: 4%;
    z-index: 1;
}


@media screen and (min-width: 500px) {
   body {
      width:420px;
   }
}

@media screen and (min-width: 800px) {
   body {
      width:720px;
   }
}


@font-face {
    font-family: eorzea;
    src: url(../resources/eorzea.ttf);
}

@font-face {
    font-family: jupiter;
    src: url(../resources/Fontspring-DEMO-jupiter_pro_regular.otf);
}